
html {
  background-color: #092041;
  min-height: 100vh;
}
.App {
  background-color: #092041;
  padding-left: 60px;
  color: white;
  font-family: "Roboto";
  min-height: 100vh;
}
div .wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  margin-top: auto
}

.Project {
  display: flex;
  flex-direction: column;
}